/* Define o estilo global para o corpo da página */
body {
    font-family: Arial, sans-serif; 
    background: url('public/img/balao2.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0; 
    padding: 0; 
}

/* Estiliza o container do formulário */
.form-container {
    width: 100%; 
    max-width: 400px; 
    margin: 50px auto; 
    background-color: white; 
    padding: 20px; 
    border-radius: 10px; 
    box-shadow: 0 0 15px rgba(250, 250, 250, 0.2); 
    display: block;
    background: #ffffff10;
    border: 2px solid #ffffff30;
    backdrop-filter: blur(10px);
}

/* Estiliza o título do formulário */
h2 {
    text-align: center; 
    color: #ffffff; 
}

/* Define o estilo básico do formulário */
form {
    display: flex;
    flex-direction: column;
}

/* Estilo dos rótulos (labels) */
label {
    margin-top: 10px; 
    font-weight: bold; 
    color: white;
}

/* Estilo dos campos de entrada de texto e email */
input, textarea {
    padding: 10px; 
    margin-top: 5px; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
    width: 100%; 
    box-sizing: border-box; 
}

/* Define a altura do textarea */
textarea {
    height: 100px; 
    resize: none; 
}

/* Estilo do botão de envio */
button {
    margin-top: 20px; 
    padding: 10px; 
    background-color: #007BFF; 
    color: white; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
}

/* Estilo para quando o botão é passado o mouse */
button:hover {
    background-color: #0056b3; 
}

/* Estilo da mensagem de resposta */
#response {
    margin-top: 10px; 
    text-align: center; 
    font-size: 14px; 
}